@charset "utf-8";
.yicon-statistic {
  position: relative;
  &-list {
    position: absolute;
    left: -40px;
    color: #333;
    .yicon-list-item {
      height: 44px;
      line-height: 44px;
      border: 1px solid transparent;
      margin-bottom: 16px;
    }
  }
  &-detail {
    display: flex;
    flex-wrap: wrap;
  }
  .yicon-info {
    width: 180px;
    max-height: 240px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px 0px #ddd;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.96);
    z-index: 1000;
    overflow: auto;
    display: none;
    .icon-library {
      font-size: 16px;
      font-weight: bold;
      margin: 0 0 0 5px;
    }
    .icon-info {
      margin: 10px 0 0 0;
      display: flex;
      align-items: center;
    }
    .title-code {
      width: 100px;
      margin-left: 10px;
    }
    .icon-title {
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 16px;
      color: #333;
    }
    .icon-code {
      font-size: 14px;
      color: #666;
    }
    .icon-description {
      margin-top: 10px;
    }
  }
}
.statistic {
  .code-list{
    background-color: #008ed6;
    border: 1px solid #008ed6;
    border-radius: 6px;
    display: flex;
    justify-content: flex-start;
    color: #fff;
    font-weight: bold;
    .code-item {
      width: 46px;
      height: 32px;
      line-height: 32px;
      margin: 0 11px;
      text-align: center;
    }
  }

  &.fixed {
    .global-subtitle {
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 1;
      .container {
        padding-bottom: 6px;
      }
    }
    .yicon-detail-main {
      margin-top: 130px;
    }
  }
}
