/*	 我的项目弹层内容样式	*/
	.project-form{
		color: #616161;
		.field{
			margin-top: 20px;
			overflow: hidden;
			line-height: 36px;
		}
		.field-label{
			width: 74px;
			float: left;
			display: inline;
		}
		.field-set{
			font-size: 14px;
			float: left;
      label{
        margin-right: 5px;
      }
			.project-name,.project-author,.project-collaborators{
				padding: 0 10px;
				width: 278px;
				border:1px solid #dfdfdf;
				height: 36px;
			}
			.project-author{
				padding: 0;
				width: 298px;
				.iconfont{
					float: right;
				}
				.rc-select-selection.rc-select-selection--single{
					height: 36px;
					outline: none;
					.rc-select-selection__rendered, .rc-select-selection-selected-value{
						height: 36px;
						line-height: 36px;
					}
				}
			}

		}
		.field-btn{
			float: left;
			margin-left: 8px;
			.add-collaborators{
				padding:0 20px;
				border:1px solid #d2d2d2;
				height: 36px;
				font-size: 14px;
				color:#616161;
				background-color: #fbfbfb;
			}
		}
		/*	 项目成员	 */
		.collaborators{
			margin-top: 10px;
			overflow: hidden;
			width: 420px;
			&-title{
				font-size:14px ;
				color:#616161;
				line-height: 34px;
			}
			&-list{
				li{
			    float: left;
			    color: #616161;
			    padding:0 6px;
			    background: #f1f3f6;
			    margin-right: 6px;
			    margin-top: 4px;
			    border-radius: 3px;
			    line-height: 26px;
			    height: 26px;
			    .iconfont{
	    	    font-size:14px;
				    float: right;
				    cursor: pointer;
				    vertical-align: top;
				    margin-left: 2px;
						line-height: 28px;
			    }
				}

			}
		}
	}
	.project-tips{
		font-size:16px;
		padding: 20px 0;
		color:#616161;
	}
