.GenerateVersion{
  margin-top: 15px;
  li {
    height: 20px;
    line-height: 20px;
    display: inline-block;
    margin-right: 25px;
    input{
      margin-left: 5px;
      margin-bottom: 3px;
    }
  }
}
