.UserProject{
  .global-subtitle{
    .container{
      width: 1080px;
    }
    .options{
      display: flex;
      .slider{
        width: 220px;
      }
      .title{
        flex: 1;
      }
    }
  }
  .global-content-Main{
    flex-direction: column;
    padding-bottom: 50px;
  }
  &-info{
    padding: 20px 40px;
    >header{
      margin-bottom: 15px;
      h3{
        font-size: 30px;
        color: #344562;
        text-align: left;
        line-height: 40px;
        float: left;
      }
      .powerby{
        padding-left: 14px;
        margin-top: 14px;
        float: left;
        color: #9e9e9e;
        font: 12px/1.5 tahoma,"microsoft yahei","\5FAE\8F6F\96C5\9ED1";
      }
    }
    .options{
      background: #f9fafb;
      color:#008ed6;
      height: 37px;
      line-height: 37px;
      padding-left: 0;
      overflow: hidden;
      span {
        float: left;
        padding:0 15px;
        font-size:14px;
        cursor: pointer;
      }
      .baseline-adjust {
        float: right;
      }
    }
    .tool{
      .options-btns{
        margin-right: 10px;
      }
      .btn-history-hidden{
        display: none;
      }
    }
  }

  .tips {
    line-height: 1,
  }
}

.tips {
  width: 500px;
  p {
    strong {
      font-weight: bold;
    }
    code {
      color: #666;
    }
    font-size: 12px;
    color: #9e9e9e;
    line-height: 1;
  }
}
pre, code {
  overflow: scroll;
  font-family: monaco,menlo,consolas,courier new,courier,monospace;
}
