@charset "utf-8";
$imgUrl: '../../../static/images/';
.no-match{
  &-log{
    background:url("#{$imgUrl}noMatchIcon.png") 0  -190px no-repeat;
    width:210px;
    height:192px;
    display:inline-block;
    margin:0 auto;
  }
  &-tips{
    font-size:16px;
    color:#9e9e9e;
  }
  .no-match-return{

  }
}
