.sub-title-chil {
  .count {
    font-size: 14px;
    color: #616161;
    padding-left: 10px;
    .num {
      font-size: 24px;
      padding: 0 6px;
    }
  }
  .powerby {
    color: #9e9e9e;
    padding-left: 14px;
  }
  .name {
    color: #9e9e9e;
    padding-left: 8px;
  }
  .tool-content {
    margin-top: 15px;
    overflow: hidden;
    width: 100%;
    .tools {
      float: left;
      color: #fff;
      overflow: hidden;
      float: left;
      display: inline-block;
      .options-btns {
        margin-right: 6px;
        float: left;
      }
      .btns-blue:hover {
        color: #fff;
      }
      .btns-default {
        height: 34px;
      }
      .ml10 {
        margin-left: 10px;
      }
    }
  }
}
.yicon-detail-main {
  width: 1100px;
  margin: 14px auto 0;
  .yicon-detail-list{
    width:1136px;
    margin-left: -18px;
  }
}
.repository.fixed {
  .global-subtitle {
    position: fixed;
    width: 100%;
    top: 0;
    margin-top: 0;
    z-index: 1;
    .container {
      padding-bottom: 6px;
    }
  }
  .yicon-detail-main {
    margin-top: 194px;
  }
}
