.SearchList{
  overflow: visible !important;
}
.SuggestList{
  position: relative;
  transform: translate3d(0,0,0);
  display: inline-block;;
  overflow: visible;
  &-list{
    width: 298px;
    border: 1px solid #dfdfdf;
    border-top: 0;
    position: fixed;
    // padding: 0 10px;
    z-index: 1002;
    background-color: #fff;
    >li{
      height: 30px;
      text-indent: 10px;
      line-height: 30px;
      &:hover, &.active{
        background-color: #f8f8f8;
        cursor: pointer;
      }
    }
  }
  #SearchList-input-width,  {
    width: 338px;
  }
  #SuggestList-list-ul {
    width: 358px;
  }
  .add-collaborators{
    cursor: pointer;
  }

}
