{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-underscore-dangle": 0,
    "react/prefer-stateless-function": 0
  },
  "globals": {
    "expect": true,
    "describe": true,
    "it": true,
    "webpackIsomorphicTools": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DEVELOPMENT__": true,
    "__DEVTOOLS__": true,
    "__INITIAL_STATE__": true
  }
}
