{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-underscore-dangle": ["off"],
    "react/prefer-stateless-function": ["warn"]
  },
  "globals": {
    "webpackIsomorphicTools": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DEVELOPMENT__": true,
    "__DEVTOOLS__": true,
    "__INITIAL_STATE__": true
  }
}
