# kdiff3 ignore
*.orig

# maven ignore
target/

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.log.*
*.cache
*.diff
*.patch
*.tmp
logs/

# system ignore
.DS_Store
Thumbs.db

# package ignore (optional)
# *.jar
# *.war
# *.zip
# *.tar
# *.tar.gz


# iOS
ios/build/

# ignore public
public/

# Node
node_modules/

# webpack-assets
webpack-assets.json

# asserts
/static/dist
