{
  "name": "yicon",
  "common": {
    "title": "YIcon",
    "footer": "© 2017 <a href='http://ued.qunar.com/ymfe/' target='_blank'>YMFE</a> Team. Build by <a href='https://github.com/YMFE/ydoc' target='_blank'>ydoc</a>.",
    "home": "YMFE",
    "homeUrl": "http://ymfe.tech/",
    "navbars": []
  },
  "options": {
    "insertCSS": [
      "./theme/yicon.css"
    ],
    "hasPageName": true
  },
  "resources": {
    "images": "./docs/images/",
    "theme": "./docs/theme"
  },
  "pages": [
    {
      "name": "index",
      "title": "YIcon",
      "banner": {
          "title": "YIcon",
          "description": "YIcon 是一个集图标上传、展示、使用于一身的字体图标管理平台，Ta 拥有严格的审核流程、可控的项目版本和完善的权限管理。<p><a href=\"introduction.html\" class=\"getting\">Getting Started</a></p><p class=\"version\">当前版本：1.0.2</p>"
      },
      "content": "./docs/index.md"
    },
    {
      "name": "introduction",
      "title": "简介",
      "banner": {
        "title": "YIcon",
        "description": "可部署的矢量字体生成管理平台"
      },
      "content": "./docs/home.md"
    },
    {
      "name": "build",
      "title": "如何部署",
      "banner": {
        "title": "安装部署",
        "description": "自行搭建属于自己的 YIcon 字体生成管理平台。"
      },
      "content": "./docs/build.md",
      "menuLevel": 2,
    },
    {
      "name": "usage",
      "title": "使用说明",
      "banner": {
        "title": "平台应用",
        "description": "如何使用 YIcon 平台生成和管理自己的字体图标、图标项目。"
      },
      "menuLevel": 2,
      "content": "./docs/usage.md"
    },
    {
      "name": "releases",
      "title": "版本",
      "banner": {
        "title": "版本记录",
        "description": "YIcon 的历史版本发布时间及变更记录，帮助你追溯到每个版本的演进过程。"
      },
      "menuLevel": 2,
      "content": "./Releases.md"
    },
    {
      "name": "github",
      "title": "Github",
      "url": "https://github.com/YMFE/yicon"
    }
  ]
}
