
.notification{
  $dark_grey:#657289;
  $shallow_grey: #f1f3f6;
  $text-grey: #9e9e9e;
  $text-time: #919191;
  $text-tag: #212121;
  $text-key: #008ed6;
  // $imgUrl: 'file:///Users/eva/work/yicon/static/images/';
  $imgUrl: '../../../static/images/';
  background-color: $shallow_grey;
  $state-green: #4bb052;
  $state-blue: #008ed6;
  $state-grey: #e3e1e1;
  $text-color: #616161;
  .info-cont{
    display: inline;
    background-color:$dark_grey;
    padding: 0 5px;
    margin-left: 5px;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    border-radius: 2px 2px 2px 0;
  }
  li:hover, .selected{
    .info-cont{
      background-color: #fff;
      color:$dark_grey;
    }
  }
  .empty-container{
    &::after{
      content: '您暂时没有消息哦';
      height: 40px;
      width: 191px;
      display: block;
      margin: 196px auto 0;
      background: url(#{$imgUrl}noMatchIcon.png) 0 -632px no-repeat ;
      padding-top: 200px;
      font-size: 16px;
      color: $text-grey;
      text-align: center;
    }
    .pager-container{
      border-top:0;
      padding:0;
    }
  }
  .check{
    display: inline-block;
    overflow: hidden;
  }
  .global-content-Main{
    flex-direction: column;
  }
  .pager-container{
    border-top: 1px solid #d8dbdd;
    padding: 25px 40px;
  }
  .detail-icon{
    width: 84px;
    margin: 12px 50px 12px 0;
    .tag{
      line-height: 20px;
    }
  }
}
