.slider {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: 16px;
  background-color: #cfcfcf;
  border-radius: 7px;
  border: 7px solid #f1f3f6;
  .slider-track-bar {
    height: 2px;
    background-color: #3bbaff;
    position: absolute;
    left: 0;
    top: 0;
  }

  .slider-handle {
    width: 10px;
    height: 10px;
    border-radius: 6px;
    line-height: 0;
    font-size: 0;
    background-color: #008ed6;
    cursor: pointer;
    position: absolute;
    left: 0;
    margin-top: -4px;
    margin-left: -5px;
  }
}
