.tan-container {
  width: 635px;
  height: 257px;
  background: #fff;
  .cancel-box {
    line-height: 32px;
    font-size: 32px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #d8dbdd;
    cursor: pointer;
  }
  .tan-detail {
    float: left;
    margin-left: 30px;
    .tan-detail-header {
      .icon-name {
        color: #616161;
        font-size: 20px;
        line-height: 38px;
        .to-edit-name {
          margin-left: 12px;
          border: 0;
          outline: 0;
          background: #fff;
          color: #008ed6;
          font-size: 14px;
          cursor: pointer;
        }
        .to-edit-name.hide {
          display: none;
        }
      }
      .edit-name-box {
        display: none;
        .edit-name {
          height: 36px;
          width: 196px;
          float: left;
          margin: 0;
          border-right: 0;
          .input {
            height: 36px;
            width: 176px;
          }
          .error-info {
            width: 172px;
            line-height: 26px;
          }
        }
        .save {
          float: left;
          width: 68px;
          height: 38px;
          background: #008ed6;
          outline: 0;
          border: 0;
          border-radius: 2px;
          font-size: 14px;
          color: #fff;
          cursor: pointer;
        }
        .cancel {
          float: left;
          margin-left: 8px;
          width: 68px;
          height: 38px;
          background: #fbfbfb;
          outline: 0;
          border: 1px solid #d2d2d2;
          border-radius: 2px;
          font-size: 14px;
          color: #616161;
          cursor: pointer;
        }
      }
    }
    .tan-detail-header.edit {
      .icon-name {
        display: none;
      }
      .edit-name-box {
        display: block;
      }
    }
    .other-info {
      height: 42px;
      line-height: 42px;
      color: #9e9e9e;
      font-size: 14px;
    }
    .set-tag {
      .input-wrap {
        margin: 0;
        width: 344px;
        height: 26px;
        .input {
          line-height: 26px;
          font-size: 12px;
        }
        .set-tag-icon {
          color: #6f6f6f;
        }
        .error-info {
          width: 320px;
          top: 26px;
          font-size: 12px;
          line-height: 26px;
          height: 26px;
        }
      }
      .icon-tag-list {
        padding: 0 10px;
        overflow: hidden;
        width: 324px;
        height: 40px;
        border: 1px solid #dfdfdf;
        border-top: 0;
        margin-left: 0;
        .icon-tag {
          float: left;
          padding: 3px;
          margin: 8px 7px 0 0;
          font-size: 12px;
          border-radius: 4px;
          background: #f1f3f6;
          color: #787979;
          .delete {
            margin-left: 3px;
            margin-top: -3px;
            cursor: pointer;
          }
        }
      }
    }
    .select-color {
      margin-top: 18px;
      .color-list {
        float: left;
        .color-item {
          float: left;
          width: 18px;
          height: 38px;
          cursor: pointer;
        }
      }
      .color-select-box {
        float: left;
        margin-left: 8px;
        width: 96px;
        height: 36px;
        line-height: 36px;
        border: 1px solid #dfdfdf;
        font-size: 14px;
        color: #616161;
        cursor: pointer;
        .input-wrap {
          margin-left: 0;
          display: inline-block;
          vertical-align: top;
          width: 63px;
          height: 35px;
          border: 0;
          .input {
            margin-left: 5px;
            width: 57px;
            line-height: normal;
          }
          .error-info {
            display: none;
          }
        }
        .color-show {
          display: inline-block;
          vertical-align: middle;
          margin-left: 9px;
          width: 18px;
          height: 18px;
        }
      }
      .set-size {
        float: left;
        margin-left: 8px;
        line-height: 36px;
        text-align: left;
        font-size: 14px;
        width: 51px;
        height: 36px;
        border: 1px solid #dfdfdf;
        color: #616161;
        cursor: pointer;

        .drop-down {
          margin-left: 6px;
          color: #abb1be;
        }
      }
    }
    .download-box {
      margin-top: 14px;
      display: flex;
      justify-content: space-between;
      .download-btn {
        width: 110px;
        height: 38px;
        background: #008ed6;
        color: #fff;
        outline: 0;
        border: 0;
        border-radius: 2px;
      }
      .disabled {
        color: #fff;
        background: #e8e8e8;
      }
    }
  }
}
