.options-btns{
	height: 36px;
    line-height: 36px;
    font-size: 14px;
    display: inline-block;
    border-radius: 5px;
}
.btns-default{
    border: 1px solid #ccc;
    color: #616161;
    background-color: #fff;
    padding:0 25px;
}


/* 弹层透明遮罩层样式 */
.m-dialog-mask {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #f5f5f5;
	opacity: .5;
}

/*	弹层通用样式	*/
.m-dialog{
	position:fixed;
	left: 50%;
	top:50%;
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width:auto;
	border:1px solid #cacacb;
	box-shadow: 5px 5px 5px #ccc;
	z-index: 99;
}
/*	弹层通用头尾样式	*/
.myicon-dialog{
	background-color: #fff;
	min-width: 370px;
	&-title{
		margin:0 24px;
		overflow: hidden;
		height: 62px;
		line-height: 62px;
		position:relative;
		border-bottom: 1px solid #ececec;
		h4{
			font-size:18px;
			color:#616161;
			float: left;
		}
		.iconfont{
			font-size:20px;
			float: right;
		}
	}
	&-content{
		padding:0 24px 20px;
		max-width: 650px;
		word-wrap:break-word;
		word-break: break-all;
		overflow: visible;
	}
	&-foot{
		padding: 16px 24px;
		background-color: #f9fafe;
		overflow: hidden;
		.options-btns{
			height: 30px;
			line-height: 30px;
			padding:0 12px;
			font-size:14px;
			float: right;
			margin-left: 8px;
		}
	}
}
//  只有关闭按钮
.m-dialog-simple{
	.myicon-dialog-title{
		 height: 50px;
		 border:none;
		 margin:0;
		 >h4{
			 display: none;
		 }
		.iconfont{
			line-height: 32px;
		  font-size: 32px;
		  position: absolute;
		  top: 10px;
		  right: 10px;
		  color: #d8dbdd;
		  cursor: pointer;
		}
		.iconfont:hover{
		  color: #008ed6;
		}
	}
	.myicon-dialog-content{
		padding:0 50px 50px;
	}
	.myicon-dialog-foot{
		display: none;
	}
}
