.global-list {
  &-prj-item {
    margin: 40px 15px 0;
    width: 270px;
    padding: 26px 33px;
    background-color: #fff;
    display: inline;
    float: left;
    overflow: hidden;
    height: 212px;
    dt {
      text-align: center;

      h2 {
        font-size: 20px;
        line-height: 20px;
        color: #344562;
      }

      p {

        line-height: 14px;
        color: #929aac;
        margin-top: 14px;

        i {
          font-style: normal;
          font-size: 14px;
        }

        span {
          margin-left: 8px;
        }
      }
    }

    .prj-item-icon {
      margin-top: 14px;
      ul{
        overflow: hidden;
      }
      li {
        width: 54px;
        height: 50px;
        /*background-color: red;*/
        display: inline;
        float: left;
        text-align: center;
        line-height: 54px;
        color: #555f6e;
        font-size: 20px;

        .iconfont {
          font-size: 24px;
        }
      }
    }

    &::hover {
      box-shadow: 0 0 10px #d6e9f6;
    }
    .icon-container{

    }
  }
}
