.global-content{
  width: 1080px;
  margin: 20px auto 0;
  overflow: hidden;
  >.content{
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid #d8dbdd;
  }
  >footer{
    display: flex;
    font-size: 12px;
    line-height: 80px;
    color: #9e9e9e;
    span{
      height: 80px;
      margin-bottom: 55px;
      margin-right: 60px;
    }
    >.copyright{
      height: 80px;
      margin-bottom: 55px;
      flex: 1;
      text-align: right;
      span{
        display: block;
      }
    }
  }
}
