/* .project-list.css */
.project-list {
  .global-subtitle .container {
    width: 1080px;
  }
  background: #f1f3f6;
  .box {
    width: 1080px;
    margin: 20px auto 0 auto;
    box-sizing: border-box;
    display: -webkit-box;
    .navs, .icons {
      min-height: 620px;
    }
    .navs {
      width: 216px;
      background: #f9fafe;
      li {
        height: 50px;
        line-height: 50px;
        font-size: 14px;
        a {
          display: block;
          padding: 0 34px;
          color: #344562;
        }
      }
      .active {
        background: #657289;
        a {
          color: #FFF;
        }
      }
    }
    .icons {
      padding: 0 40px;
      width: 864px;
      box-sizing: border-box;
      background: #FFF;
      h3 {
        padding: 20px;
        color: #344562;
        zoom: 1;
        overflow: hidden;
        border-bottom: 1px solid #d8d9d9;
        span {
          font-size: 16px;
          margin: 0 25px 0 0;
          max-width: 300px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          display: inline-block;
          line-height: auto;
          float: left;
        }
        em {
          float: left;
          font-size: 13px;
          color: #999;
          margin: 5px 15px 0 0;
        }
      }
    }
  }
}

/* .project-null.css */
.project-null {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  p {
    background: url(../../../static/images/noMatchIcon.png) no-repeat 0 -384px;
    width: 190px;
    height: 40px;
    vertical-align: bottom;
    padding: 200px 0 0 0;
    text-align: center;
    color: #999;
  }
}


