.update-icon-container {
  width: 635px;
  height: 257px;
  background: #fff;
  position: relative;
  .cancel-box {
    line-height: 32px;
    font-size: 32px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #d8dbdd;
    cursor: pointer;
  }
  .update-icon-detail {
    float: left;
    margin-left: 30px;
    .update-detail-header {
      .icon-name {
        color: #616161;
        font-size: 20px;
        line-height: 38px;
        .icon-name-txt {
          display: block;
        }
        .to-edit-name {
          margin-left: 12px;
          border: 0;
          outline: 0;
          background: #fff;
          color: #008ed6;
          font-size: 14px;
          cursor: pointer;
        }
        .to-edit-name.hide {
          display: none;
        }
      }
      .edit-name-box {
        display: none;
        .edit-name {
          height: 36px;
          // width: 196px;
          width: 338px;
          float: left;
          margin: 0;
          // border-right: 0;
          .input {
            height: 36px;
            width: 176px;
          }
          .error-info {
            width: 172px;
            line-height: 26px;
          }
        }
        .save {
          float: left;
          width: 68px;
          height: 38px;
          background: #008ed6;
          outline: 0;
          border: 0;
          border-radius: 2px;
          font-size: 14px;
          color: #fff;
          cursor: pointer;
        }
        .cancel {
          float: left;
          width: 68px;
          height: 38px;
          background: #fbfbfb;
          outline: 0;
          border: 1px solid #D9D9D9;
          border-radius: 2px;
          font-size: 14px;
          color: #616161;
          cursor: pointer;
        }
      }
    }
    .update-detail-header.edit {
      .icon-name {
        display: none;
      }
      .edit-name-box {
        display: block;
      }
    }
    .other-info {
      margin-bottom: 10px;
      height: 42px;
      line-height: 42px;
      color: #9e9e9e;
      font-size: 14px;
    }
    .set-tag {
      .input-wrap {
        margin: 0;
        width: 282px;
        // height: 26px;
        .input {
          // line-height: 26px;
          // font-size: 12px;
        }
        .set-tag-icon {
          color: #6f6f6f;
        }
        .error-info {
          width: 320px;
          top: 26px;
          font-size: 12px;
          line-height: 26px;
          height: 26px;
        }
      }
      .icon-tag-list {
        padding: 0 10px;
        overflow: auto;
        width: 324px;
        border: 1px solid #dfdfdf;
        border-top: 0;
        margin-left: 0;
        .icon-tag {
          float: left;
          padding: 3px;
          margin: 8px 7px 0 0;
          font-size: 12px;
          border-radius: 4px;
          background: #f1f3f6;
          color: #787979;
          .delete {
            margin-left: 3px;
            margin-top: -3px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .options-btns-ok {
    height: 30px;
    line-height: 30px;
    padding:0 12px;
    font-size:14px;
    position: absolute;
    bottom: -10px;
    right: 0;
    margin: 10px 0 0 0;
    background: #008EDC;
    border-radius: 4px;
    color: #FFF;
  }
}
