$imgUrl: '../../../static/images/';
$staticUrl: '../../../static/';
@font-face {
  font-family: iconfont;
  font-style: normal;
  font-weight: normal;
  src: url(#{$staticUrl}font/QIconLab.eot);
  src: url(#{$staticUrl}font/QIconLab.eot?#iefix&#iefix) format("embedded-opentype"), url(#{$staticUrl}font/QIconLab.woff) format("woff"), url(#{$staticUrl}font/QIconLab.ttf) format("truetype"), url(#{$staticUrl}font/QIconLab.svg#iconfont) format("svg");
}

@mixin global-icon(
  $icon-width: 72px,
  $icon-color: #555f6e,
  $icon-size: 64px,
  $text-color: #616161
) {
  // overflow-y: hidden;
  display: inline-block;
  .icon{
    width: $icon-width;
    height: $icon-width;
    line-height: $icon-width;
    text-align: center;
    color: $icon-color;
  }
  .iconfont{
    font-size: $icon-size;
    vertical-align: top;
    font-family: iconfont !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    vertical-align: middle;
  }
  .name, .code, .state{
    color: $text-color;
    font-size: 14px;
    text-align: center;
  }
  .tag{

  }


}

.global-icon{
  @include global-icon;
}
