.home-list-main{
  width: 1110px;
  margin-left: -5px;
}
.home{
  margin-top: 100px;
  .global-content{
    margin-top: 10px;
    width: 1100px;
    display: flex;
    flex-direction: column;
    >.content{
      display: block;
      background-color: transparent;
      padding-bottom: 40px;
    }
  }
}
