.uploaded{
  $imgUrl: '../../../static/images/';
  $text-grey: #9e9e9e;
  .empty-container>.content{
    min-height: 586px;
    &::after{
      content: '您还没有上传过图标哦';
      height: 40px;
      width: 191px;
      display: block;
      margin: 166px auto 0;
      background: url(#{$imgUrl}uploaded_empty_container.png) no-repeat ;
      padding-top: 200px;
      font-size: 16px;
      color: $text-grey;
      text-align: center;
    }
  }
  .global-timeline{
    background-image: linear-gradient(90deg,transparent,transparent 116px,#dddfe2,#dddfe2 117px,transparent,transparent 0);
    dl{
      .description{
        width: 116px;
        padding-right: 15px;
      }
    }
    .content{
      padding-left: 40px;
    }
    dd .detail{
      margin:-15px -80px 0 0;
      .icon-container{
        margin-bottom: 8px;
      }
      &-icon{
        margin: 0 80px 40px 0;
        .name{
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
