@charset "utf-8";
$imgUrl: '../../../static/images/';

.yicon-search {
	&-info {
		background-color: #fff;
		border-bottom: 1px solid #dadcde;
		box-shadow: 0 0 5px #dadcde;

		&-container {
			width: 1100px;
			margin: 0 auto;
			padding: 20px 0;

			.options {
				.search-result {
					color: #616161;
					overflow: hidden;
					float: left;
					display: inline-block;
					margin-left: 20px;
					font-size: 16px;
					&-count {
						color: #ff5555;
					}
				}
				.slider{
					margin-top: 0;
				}
			}

		}

	}

	&-main {
		width: 1100px;
		margin: 0 auto;
		.yicon-search-title{
			font-size: 16px;
			color:#616161;
			padding:28px 0 12px;
		}
		.yicon-search-list {
			width: 1136px;
			margin-left: -18px;
			padding-bottom:18px;
			position: relative;
		}
		.yicon-search-list:before{
			content: "";
		 	width:1080px;
			height: 1px;
			background-color: #d8dbdd;
			position: absolute;
			bottom:0;
			left: 28px;
		}
	}

	.no-search{
	  text-align: center;
	  padding: 160px 0;
	  overflow: hidden;
	  &-logo{
	    background:url("#{$imgUrl}noSearch.png") 0  0 no-repeat;
	    width:210px;
	    height:192px;
	    display:inline-block;
	    margin:0 auto;
	  }
	  &-tips{
	    font-size:16px;
	    color:#9e9e9e;
	    line-height:24px;
	    width: 182px;
	    text-align:center;
	    margin:16px auto;
	    overflow:hidden;
	  }
	}

}
