@charset "utf-8";
.yicon-audit-container {
  background: #fff;
  width: 1080px;
  margin: 30px auto;
  .upload-author {
    padding-left: 64px;
    line-height: 40px;
    .repository {
      font-size: 20px;
      color: #616161;
    }
    .author {
      font-size: 12px;
      color: #a5a5a5;
    }
  }
  .upload-icon-item {
    overflow: hidden;
  }
  .upload-icon {
    .pass-tag, .no-pass-tag {
      position: relative;
      top: -23px;
      left: 17px;
      background: #4bb052;
      color: #fff;
      font-size: 12px;
      line-height: 16px;
      height: 16px;
      transform: rotate(315deg);
      -ms-transform: rotate(315deg);		/* IE 9 */
      -webkit-transform: rotate(315deg);	/* Safari and Chrome */
      -o-transform: rotate(315deg);		/* Opera */
      -moz-transform: rotate(315deg);
    }
    .no-pass-tag {
      background: #ff7474;
    }
  }
  .approval {
    height: 38px;
    background: #fff;
    .aprv-btn {
      float: left;
      text-align: center;
      line-height: 34px;
      height: 34px;
      background: #fff;
      border: 2px solid #dfdfdf;
      border-radius: 19px;
      font-size: 14px;
      color: #9e9e9e;
      cursor: pointer;
      padding: 0 17px;
      margin-top: -25px;
      .tag {
        margin-right: 8px;
      }
    }
    .pass.on {
      border: 2px solid #4bb052;
      color: #4bb052;
    }
    .pass {
      margin: -25px 10px 0 531px;
    }
    .no-pass.on {
      border: 2px solid #ff7474;
      color: #ff7474;
    }
  }
  .approval-submit {
    padding: 35px 36px;
    background: #f9fafe;
    height: 40px;
    .submit {
      float: right;
      width: 235px;
      height: 40px;
      outline: none;
      border: 0;
      font-size: 14px;
      color: #fff;
      border-radius: 2px;
      background: #008ed6;
    }
    .submit:hover {
      background: #009be9;
    }
    .submit.disabled {
      background: #e8e8e8;
    }
  }
  .setting-opt{
    margin-bottom: 25px;
  }
}
