footer {
  border-top: 1px solid #d8dbdd;
  width: 1080px;
  margin: 20px auto 0;
  display: flex;
  font-size: 12px;
  line-height: 80px;
  color: #9e9e9e;
  span {
    height: 80px;
    margin-bottom: 55px;
    margin-right: 60px;
    >a {
      color: #9e9e9e;
    }
  }
  >.copyright {
    height: 80px;
    margin-bottom: 55px;
    flex: 1;
    text-align: right;
    span {
      display: block;
    }
    a {
      color: #008ed6;
      &:hover {
        color: #009be9;
      }
      &:active {
        color: #008ed6;
      }
    }
  }
}
