@charset "utf-8";
$imgUrl: '../../../../static/images/';
.g-loading{
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  text-align: center;
  z-index: 9999;
  &-bg{
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.7);
    position: absolute;
    top:0;
    left:0;
  }
  &-pic{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    background:url("#{$imgUrl}loading.gif") center center no-repeat;
  }
}
