@mixin global-icon(
  $icon-width: 72px,
  $icon-size: 64px,
  $icon-color: #555f6e,
  $text-color: #616161
  ) {
  // overflow-y: hidden;
  display: inline-block;
  .icon-container {
    padding: 12px;
    margin:0 auto;
    overflow: hidden;
    text-align: center;
  }
  .icon-room {
    height: $icon-width;
    display: block;
    line-height: $icon-width;
  }
  .iconfont {
    font-size: $icon-size;
    vertical-align: top;
    font-family: iconfont !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    vertical-align: middle;
  }

  .code,
  .name,
  .state {
    color: $text-color;
    font-size: 14px;
    text-align: center;
    display: block;
    line-height: 16px;
    height: 16px;
  }
}
