@mixin global-icon( $icon-width: 72px, $icon-color: #555f6e, $icon-size: 64px, $text-color: #616161 ) {
  // overflow-y: hidden;
  display: inline-block;
  .icon-container {
    padding: 12px;
    margin:0 auto;
    height: $icon-width;
    overflow: hidden;
    text-align: center;
  }

  .iconfont {
    font-size: $icon-size;
    vertical-align: top;
    font-family: iconfont !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    vertical-align: middle;
  }

  .code,
  .name,
  .state {
    color: $text-color;
    font-size: 14px;
    text-align: center;
    display: block;
  }

  .tag {
    }
  .Icon{
    display: block;
    margin: 0 auto;
  }
}
