@import "./DesIcon.mixin";
$imgUrl: '../../../static/images/';
$staticUrl: '../../../static/';

.global-icon {
  @include global-icon;
}

.detail-icon {
  $state-green: #4bb052;
  $state-blue: #008ed6;
  $state-grey: #e3e1e1;
  $text-color: #616161;
  @include global-icon( $icon-size: 59px, $icon-width: 56px );
  // width: 58px;
  margin-right: 75px;
  position: relative;

  .name{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .state {
    color: #fff;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    padding: 0 5px;
    border-radius: 2px;
    margin-top: 4px;

    &.fault {
      background-color: $state-grey;
      color: $text-color;
    }

    &.passed {
      background-color: $state-green;
    }

    &.checking {
      background-color: $state-blue;
    }
  }

  .tag {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $state-grey;
    color: $text-color;
    height: 20px;
    width: 20px;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    transform: translateX(5%);
  }

  &.new {
    .tag {
      color: #fff;
      background-color: $state-green;
    }
  }

  &.old {
    &::before {
      content: ' ';
      width: 32px;
      height: 24px;
      background: url("#{$imgUrl}info_change.png") no-repeat;
      display: block;
      position: absolute;
      top: 35%;
      transform: translate3d(-170%,-50%,0);
    }
  }

  .tool{
		margin-top: 7px;
		height: 30px;
		position: relative;
    text-align: center;
    visibility: hidden;
		.copytip{
			position: absolute;
			background-color: #fff8e5;
			border:1px solid #ffe8a6;
			padding:0 18px;
			height: 34px;
			line-height: 34px;
			left: 0;
			top:-50px;
			font-size: 14px;
			border-radius: 3px;
			.iconfont{
				font-size: 18px;
			}
		}
		&-item{
			/*margin:0 1px;*/
			display: inline-block;
			/*float: left;*/
			width: 30px;
			height: 30px;
			text-align: center;
			line-height: 30px;
			font-size:24px;
			overflow: hidden;
			background-color: #9e9e9e;
			color:#fff;
			border-radius: 5px;
			cursor: pointer;
      &:hover{
        background-color: #008ed6;
      }
		}
	}

  &:hover{
    .tool{
      visibility: visible;
    }
  }

  .info{
    width: 72px;
    margin: 0 auto;
  }
}
