
@charset "utf-8";
$fontTitleColor:#344562;$fontContentColor:#616161;$fontTipColor:#9e9e9e;$mainColor:#3bbaff;$btnColor:#008ed6;$btnHoverColor:#00b7ee;$iconColor:#555f6e;
$staticUrl: '../../../static/';
@font-face {
  font-family: iconfont;
  src: url(#{$staticUrl}font/QIconLab.eot);
  src: url(#{$staticUrl}font/QIconLab.eot?#iefix&#iefix) format("embedded-opentype"), url(#{$staticUrl}font/QIconLab.woff) format("woff"), url(#{$staticUrl}font/QIconLab.ttf) format("truetype"), url(#{$staticUrl}font/QIconLab.svg#iconfont) format("svg");
  font-weight: normal;
  font-style: normal;
}
.clearfix:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.clearfix{*zoom:1;}
html{background:#f1f3f6;font-size:14px;color:#000;}
body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,figure,form,fieldset,legend,input,textarea,button,p,blockquote,th,td,pre,xmp{margin:0;padding:0}
body,input,textarea,button,select,pre,xmp,tt,code,kbd,samp{line-height:1.5;font-family:tahoma,arial,"Hiragino Sans GB",simsun,sans-serif}
h1,h2,h3,h4,h5,h6,small,big,input,textarea,button,select{font-size:100%}
h1,h2,h3,h4,h5,h6{font-family:tahoma,arial,"Hiragino Sans GB","微软雅黑",simsun,sans-serif}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal}
address,cite,dfn,em,i,optgroup,var{font-style:normal}
table{border-collapse:collapse;border-spacing:0;text-align:left}
caption,th{text-align:inherit}
ul,ol,menu{list-style:none}
fieldset,img{border:0}
img,object,input,textarea,button,select{vertical-align:middle}
html{background:#f1f3f6}
article,aside,footer,header,section,nav,figure,figcaption,hgroup,details,menu{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
blockquote:before,blockquote:after,q:before,q:after{content:"\0020"}
textarea{overflow:auto;resize:vertical}
input,textarea,button,select,a{outline:0 none;border: 0;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
mark{background-color:transparent}
a,ins,s,u,del{text-decoration:none}
sup,sub{vertical-align:baseline}
/*系统图标*/
:global {
  [class*="iconfont"], [class*="iconfont"]:before {
    display: inline-block;
    font-family: "iconfont";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.iconfont {
  font-family: iconfont !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  vertical-align: middle;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.app-container{
  background-color: #f1f3f6;
}
.btns-blue{
	color: #fff;
	background-color: #008ed6;
    padding:0 16px;
    .iconfont{
    	margin-right: 12px;
    	font-size: 23px;
    }
}
.btns-blue:hover{
    color:#fff;
		background-color: #009be9;
}
.pager-container {
  border-top: 1px solid #d8dbdd;
  padding: 25px 40px;
}
