.icon-big-img {
  float: left;
  position: relative;
  .hline, .vline {
    position: absolute;
    background: #c2e7f5;
  }
  .hline {
    width: 100%;
    height: 1px;
  }
  .vline {
    width: 1px;
    height: 100%;
  }
  .big-icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
}
