.icon-detail-item {
  width:128px;
  margin: 16px 7px 0;
  display: inline-block;
  float: left;
  text-align: center;
  >.info{
    border: 1px solid transparent;
    padding:11px;
    width: 72px;
    margin: 0 auto;
    /*background-color: #fff;*/
    .icon {
      font-size: 64px;
      width: 72px;
      height: 72px;
      line-height: 72px;
      text-align: center;
      color:#555f6e;
      cursor: pointer;
      .iconfont {
        font-size: 64px;
        vertical-align: top;
      }
    }
    .name{
      color:#616161;
      line-height: 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-user-select: none;
      -ms-user-select: none;
      -moz-user-select: none;
      user-select: none;
      cursor: default;
    }
    .code{
      color:#616161;
      line-height: 16px;
    }
  }
  >.tool{
    margin-top: 3px;
    height: 30px;
    position: relative;
    font-size: 0;
    // display: none;
    .copytip{
      display: none;
      position: absolute;
      background-color: #fff8e5;
      border:1px solid #ffe8a6;
      padding:0 18px;
      height: 34px;
      line-height: 34px;
      left: 0;
      top:-50px;
      font-size: 14px;
      border-radius: 3px;
      .iconfont{
        font-size: 18px;
      }
    }
    .copytip.show {
      display: initial;
    }
    .tool-item{
      /*margin:0 1px;*/
      display: none;
      margin: 0 1px;
      /*float: left;*/
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      font-size:24px;
      overflow: hidden;
      background-color: #9e9e9e;
      color:#fff;
      border-radius: 5px;
      cursor: pointer;
    }
    .tool-item:hover{
      background-color: #008ed6;
    }
  }

}
.icon-detail-item:hover,.icon-detail-item.active{
  .info{
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fff;
    .icon{
      color:#008ed6;
      display: inline-block;
    }
  }
}
.icon-detail-item:hover{
  .tool-item{
    display: inline-block;
  }
}
