.global-header-logo {
  $imgUrl:'../../../../static/images/';
  cursor: pointer;
  color: #fff;
  float: left;
  width: 180px;
  margin-left: 10px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  .small-img {
    background: url("#{$imgUrl}Yicon_logo.svg") 0 9px no-repeat;
    // background: url("#{$imgUrl}qiconbg.png") 0 9px no-repeat;
    display: inline-block;
    float: left;
    width: 140px;
    height: 64px;
    margin: 0;
  }
  p {
    display: none;
  }
  i {
    top: 1px;
  }
  .iconfont {
    font-size: 40px;
  }
}
